:root{
   --main-color:#2980b9;
   --orange:#f39c12;
   --red:#e74c3c;
   --black:#02041d;
   --white:#fff;
   --light-color:#666;
   --light-bg:#eee;
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}


body {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.6;
}

p {
  font-family: "Times New Roman", Times, serif;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* home */

#hero {
  background: linear-gradient(rgba(4, 9, 30, 0.9), rgba(4, 9, 30, 0.9)), url(../Images/main_image.jpg);
  background-position: top;
  margin-top: -58px;
}

.heroText {
  font-size: 70px;
  font-weight: 700;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 32px;
  font-size: 13px;
  position: relative;
  cursor: pointer;
}


.header{
   position: sticky;
   top:0; left:0; right:0;
   background-color: var(--black);
   box-shadow: var(--box-shadow);
   z-index: 1000;
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.header .flex .logo{
   font-size: 2.5rem;
   color:var(--white);
   text-decoration: none;
}

.header .flex .logo span{
   color:var(--main-color);
}

.header .flex .navbar a{
   margin:0 1rem;
   font-size: 1.5rem;
   color:var(--white);
   text-decoration: none;
}

.header .flex .navbar a:hover{
   color:var(--main-color);
}


.header .flex .icons > *{
   margin-left: 1rem;
   font-size: 1.7rem;
   cursor: pointer;
   color:var(--white);
}

.header .flex .icons > *:hover{
   color:var(--main-color);
}

.header .flex .icons a span{
   font-size: 2rem;
}

.header .flex .profile{
   position: absolute;
   top:120%; right:2rem;
   background-color: var(--black);
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   padding:2rem;
   width: 25rem;
   padding-top: 1.2rem;
   display: none;
   animation:fadeIn .2s linear;
}

.header .flex .profile.active{
   display: inline-block;
}

.header .flex .profile p{
   text-align: center;
   color:var(--white);
   font-size: 1.5rem;
   margin-bottom: 1rem;
}

#menu-btn{
   display: none;
}

/* btn */

.main-btn,
.delete-btn,
.option-btn{
   display: block;
   width: 100%;
   margin-top: 1rem;
   border-radius: .5rem;
   padding:1rem 2rem;
   font-size: 1.0rem;
   text-transform: capitalize;
   color:var(--white);
   cursor: pointer;
   text-align: center;
   text-decoration: none;

}

.main-btn{
   background-color: var(--main-color);
}

.option-btn{
   background-color: var(--orange);
}

.delete-btn{
   background-color: var(--red);
}

.main-btn:hover,
.delete-btn:hover,
.option-btn:hover{
   background-color: var(--black);
   color: var(--white);  
}

.flex-btn{
   display: flex;
   gap:1rem;
}

.btn-co:hover{
  color: var(--white) !important;
  background-color: var(--black) !important;
}

.btn-size{
   width: 200px;


}

.search-btn{
   width: 150px;
   color: var(--white);
   background-color: var(--main-color);
}
.search-btn:hover{
   color: var(--white);
   background-color: var(--black);
}

/* messages */

.message{
   position: sticky;
   top:0;
   max-width: 1200px;
   margin:0 auto;
   background-color: var(--light-bg);
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap:1.5rem;
   z-index: 1100;
}

.message span{
   font-size: 2rem;
   color:var(--black);
}

.message i{
   cursor: pointer;
   color:var(--red);
   font-size: 2.5rem;
}

.message i:hover{
   color:var(--black);
}


/* about us */

.aboutMain {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../Images/aboutMain.jpg);
  background-size: 100% 100%;
  width: 100%;
  padding: 100px 0;
}

/* contact us */

.contact {
  background: linear-gradient(rgba(246, 4, 65, 0.685), rgba(255, 5, 26, 0.65)),
    url(../Images/contactUs.jpg) no-repeat;
  background-size: 100% 100%;
}

/* sevices */

.fas {
  color: #55acee;
  font-size: 40px;
  padding-bottom: 20px;
}


/* admin panel*/

.box{
   width: 30%;
}

/* user profile */

.profile_box{
   width: 45%;
}






/* media query */

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }

  .text-box p {
    font-size: 10px;
  }

  .hero-btn {
    font-size: 9px;
  }

  .container.gallery-container {
    border-radius: 0;
  }
}
